@model SalesWebProject.ViewModels.DepartmentsViewModel;

@{
    ViewBag.Title = "Detalhes do Departamento";

}

<div class="container">
    <h4>@ViewBag.Title</h4>

    <hr style="margin-bottom: 0.5rem !important;" />

    <div>

        <dl class="row">
            <dt class="col-md-6">
                Nome:
            </dt>
            <dd class="col-sm-6">@(string.IsNullOrWhiteSpace(Model.Name) ? "-" : Model.Name)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                Vendedores:
            </dt>
            <dd class="col-sm-10">
                @(Model.Sellers != null ? string.Join(", ", Model.Sellers.Select(m => m.Name)) : "-")
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
