@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Seja Bem Vindo</h2>
    <p>Para conhecer mais sobre este projeto, <a asp-controller="Departments" asp-action="Index" style="text-decoration:none; color:inherit">clique aqui, </a>para ir até a página de departamentos</p>
</div>
