@model SalesWebProject.ViewModels.ErrorViewModel;
@{
    ViewBag.Title = "Erro";
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h2 class="text-danger">@Model.Message</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

